<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="card" style="flex: auto;">
    <form class="card" style="width: 18rem; margin-top: 30px; align-self: center;" method="post" action="/ma">
        
            <input type="text" class="form-control" placeholder="url" id="url" name="uri" aria-describedby="basic-addon3">
        


          <div class="form-check">
            <input class="form-check-input" value="144" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
             144p
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="280" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             280p
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="360" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             360p
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="480" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             480p
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="720" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             720p
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" value="1080" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
             1080p
            </label>
          </div>
       <button type="submit" id="hg" onclick="load()" class="btn btn-success">submit</button>
    </form>
</div>


<div id="demo"></div>


        <script>

            if(`<%= dat%>` !== " "){
                document.getElementById("demo").innerHTML = " <%= dat.title %>  <a href = <%= dat.url %>><button > Download <%= dat.format_note %></button></a> <div class='card' style='width: 100vw'><iframe width='480px' height='360px' src='https://www.youtube.com/embed/<%= dat.id %>''></iframe></div>"
            }else{
                console.log(`<%= dat%>`)
            }
               
            // console.log(dat); 
            
         function load(){
            document.getElementById("hg").innerHTML = " <div class='spinner-border text-primary' role='status'></div>";
         
         }
          
            </script>

</body>
</html>

